<!DOCTYPE html>
<html>
<head>
    <title><%= board.title %></title>
</head>
<body>
    <h1><%= board.title %></h1>
    <p>작성자: <%= board.writer %></p>
    <p>내용: <%= board.content %></p>
    <a href="/board/edit/<%= board.id %>">수정</a>
    <h2>댓글</h2>
    <ul>
        <% comments.forEach(comment => { %>
            <li><%= comment.comment_name %>: <%= comment.comment_content %></li>
        <% }); %>
    </ul>
</body>
</html>
