<!DOCTYPE html>
<html>
<head>
    <title>게시판</title>
</head>
<body>
    <header style="display: flex; width: 100%; justify-content: space-between; align-items: center;">
        <div></div>
        <div>
            <% if(session.user) { %>
                <a href="/dashboard">반가워요 <%= session.user.username %>님!</a>
            <% } else { %>
                <a href="/signup">회원가입</a>
                <a href="/login">로그인</a>
            <% } %>
        </div>
    </header>
    <h1>게시판 목록</h1>
    <a href="/board/create">게시물 작성</a>
    <ul>
        <% boards.forEach(board => { %>
            <li>
                <a href="/board/<%= board.id %>"><%= board.title %> - <%= board.writer %></a>
                <form action="/board/delete/<%= board.id %>" method="POST" style="display:inline;">
                    <button type="submit">삭제</button>
                </form>
            </li>
        <% }); %>
    </ul>
</body>
</html>
